<h4>Listado</h4>
<ul class="list-group">
  <li
    *ngFor="let character of characterList; let i = index; let isFirst = first; let isLast = last; let isEven = even; let isOdd = odd;"
    class="list-group-item">
    <!-- *ngFor para recorrer el arreglo de personajes + let i = index para obtener el índice de cada personaje + let isFirst = first para saber si es el primer personaje + let isLast = last para saber si es el último personaje + let isEven = even para saber si es un índice par + let isOdd = odd para saber si es un índice impar -->
    <span class="text-primary">{{i+1}}. </span>
    <span>{{ character.name }} - </span>
    <strong>Power: </strong>
    <span>{{ character.power }}</span>
  </li>
</ul>